* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* .main {
  height: 48vw;
  width: 100vw;
  z-index: -5;
} */
body {
  background-image: url(./images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 106%;
}
/* .icon {
  background-color: white;
  height: 33px;
  width: 113px;
  padding: 0px 0px;
  border-radius: 40px;
} */
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  list-style: none;
  column-gap: 59px;
  color: white;
  font-family: inter;
  margin-top: 63px;
  margin-left: 189px;
  font-size: 21px;
  font-weight: 600;
}
nav svg {
  margin-left: -180px;
  margin-top: 16px;
}
.toplogo {
  margin-top: 81px;
  margin-left: 53px;
  height: 42px;
  width: 93px;
}
nav h3 {
  color: white;
  margin-top: 49px;
  margin-right: 20px;
  font-family: "Inter";
  font-size: 19px;
}
.left-section h2 {
  font-size: 72px;
  color: white;
  font-family: "Inter";
  margin-left: 105px;
  margin-top: 172px;
  word-spacing: 10.5px;
  z-index: 2;
}
.btn {
  font-size: 26px;
  color: white;
  background-color: transparent;
  border-radius: 39px;
  border-color: white;
  padding: 20px 55px;
  border-width: 3px;
  font-family: "Inter";
  z-index: 10;
  position: absolute;
  top: 531px;
  left: 78px;
  border-block-color: white;
  border-top-color: white;
}

.top {
  color: white;
  font-family: inter;
  z-index: 2;
  position: absolute;
  top: 287px;
  left: 938px;
  font-size: 19px;
}
.bottom {
  color: white;
  font-family: inter;
  z-index: 2;
  margin-left: 719px;
  margin-top: 5px;
}
.box2 {
  width: 24vw;
  height: 13vw;
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.2;
  position: absolute;
  top: 159px;
  left: 876px;
  z-index: -2;
}
.box1 {
  width: 23vw;
  height: 15vw;
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.2;
  position: absolute;
  top: 505px;
  left: 654px;
  z-index: -3;
}
.navbar {
  display: flex;
}
.icon {
  position: relative;
  top: -305px;
  left: 941px;
}
.light {
  position: relative;
  top: -168px;
  left: 588px;
  z-index: 6;
}
.rectangle {
  height: 50px;
  width: 104px;
  background-color: white;
  position: absolute;
  top: 216px;
  left: 939px;
  z-index: -1;
  border-radius: 25px;
}
.rectangle2 {
  height: 50px;
  width: 104px;
  background-color: white;
  position: absolute;
  top: 565px;
  left: 720px;
  z-index: -1;
  border-radius: 25px;
}
.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 437px;
  left: 1119px;
}
.circle2 {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 606px;
  left: 1064px;
}

/* .vl {
  border-left: 6px solid green;
  height: 300px;
  position: absolute;
  top: 606px;
  left: 1054px;
} */
.vl2 {
  border-left: 1px solid white;
  height: 73px;
  position: absolute;
  top: 367px;
  left: 1128px;
}
hr {
  position: absolute;
  top: 153px;
  left: 337px;
  width: 980px;
}
.small {
  position: absolute;
  top: 614px;
  left: 998px;
  width: 76px;
}
.btm {
  border-top: 2px solid white;
}
.circle {
  display: inline-block;

  animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s; /* don't forget to set a duration! */
  animation-delay: 0s;
  animation-iteration-count: 60;
}
.circle2 {
  display: inline-block;

  animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s; /* don't forget to set a duration! */
  animation-delay: 0s;
  animation-iteration-count: 60;
}
